/* Estilos generales */

*{
    font-family: sans-serif;
}
.fixed-top {
    transition: .5s;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 2px solid #ccc;
  }
  
  .navbar-logo img {
    width: 100px;
    height: auto;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-logo {
      margin-bottom: 20px;
    }
    
    .navbar-links {
      flex-direction: column;
    }
    
    .navbar-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

#logosalesisha {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }
.container {
	max-width: 1200px;
	margin: 0 auto;
}
/* Estilos de la cesta */
.cesta {
	padding: 20px;
	border-radius: 10px;
}
.cesta h1 {
	text-align: center;
	margin-bottom: 20px;
}
.cesta table {
	width: 100%;
	border-collapse: collapse;
}
.cesta th,
.cesta td {
	border: 1px solid #ddd;
	padding: 10px;
}
.cesta th {
	background-color: #eee;
}
/* Estilos de los botones */

.btn2 {
	background-color: #fa9fb3;
	font-weight: bold;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}
.btn2:hover {
	transform: scale(1.6);
	background-color: #c94564;

}
.site-decription {
	text-align: justify;
}
.total{
  text-align: right;
  max-width: 75rem;
	margin: 0 auto;
}
.botones{
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
