* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.bod2 {
	display: grid;
	place-content: center;
}

.contenedor {
	max-width: 100%;
  	padding: 20px;
  	margin: 0 auto;
	width: 80vw;
	height: 85vh;
	display: grid;
	grid-template-rows: auto 1fr;
	justify-content: space-around;
	text-align: justify;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 4em;
	text-transform: uppercase;
	color: #1b2741;
}

.productos {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	justify-items: center;
	grid-gap: 20px;
}

.producto {
	position: relative;
	background-color: #f7f6f9;
	width: 25rem;
	height: 100%;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 20px 40px;
	border-radius: 10px;
	transition: 0.3s;
}

.producto:hover {
	transform: translateY(-15px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.imagen {
	width: 100%;
	height: 60%;
	display: grid;
	place-content: center;
}

.imagen img {
	width: 220px;
}

.nombre {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nombre h3 {
	font-size: 1.5em;
	text-transform: capitalize;
	color: #1b2741;
}

.nombre span {
	font-size: 1.3em;
	color: #f67034;
}

.producto p {
	font-size: 14px;
	height: 100%;
	padding-top: 5px;
}

.boton-info {
	position: absolute;
	bottom: 20px;
}

.boton-info button {
	padding: 10px 20px;
	border-radius: 7px;
	border: none;
	background-color: #1b2741;
	color: #f7f6f9;
	font-size: 16px;
	text-transform: capitalize;
	cursor: pointer;
	transition: 0.5s;
}

.boton-info button:hover {
	transform: scale(1.1);
}

.boton-compra {
	position: absolute;
	bottom: 20px;
	left: 110px;
}

.boton-compra button {
	padding: 10px 20px;
	border-radius: 7px;
	border: none;
	background-color: #1b2741;
	color: #f7f6f9;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s;
}

.boton-compra button:hover {
	transform: scale(1.1);
}




/* header */
.fixed-top {
	transition: 0.5s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 2px solid #ccc;
  }
  
  .navbar-logo img {
    width: 100px;
    height: auto;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }  

#logosalesisha {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }
.site-decription {
	text-align: justify;
}

/* Media Queries para hacerlo responsive */

@media screen and (max-width: 768px) {
	.contenedor {
		width: 90vw;
	}
	
	.productos {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.producto {
		width: 100%;
	}
}

/* Resto de estilos... */

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f8f8f8;
	padding: 20px 0;
	text-align: center;
	color: #777;
	z-index: 999; /* Asegura que el footer esté por encima de otros elementos */
}



