*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
  }
.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 70%;
  }
  
  .producto .imagen {
    max-width: 50%;
    margin-right: 50px;
  }
  
  .producto .imagen img {
    max-width:200%;
  }
  
  .producto .nombre {
    max-width: 50%;
  }
  
  .producto .nombre h3 {
    width: 100%;
	display: flex;
	justify-content: space-between;
  }
  
  .producto .nombre span {
	font-size: 1.3rem;
	color: #f67034;
  }
  
  .producto .descripcion {
    margin-bottom: 20px;
  }
  
  .producto .descripcion p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
  }
  
  .producto .boton-compra {
    display: flex;
    bottom: 1.25rem;
  }
  
  .producto .boton-compra button {
	padding: 0.625rem 1.25rem;
	border-radius: 0.4375rem;
	border: none;
	background-color: #1b2741;
	color: #f7f6f9;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.5s;
    padding: .625rem 1.25rem;
  }
  
  .producto .boton-compra button:hover {
    background-color: #0069d9;
    transform: scale(1.1);
  }
  


