:root {
	--background: #fff;
	--color: #212325;
  }
  
footer{
	padding: 7%;
  }
  html {
	font-size: 18px;
	overflow-x: hidden;
	scroll-behavior: smooth;
  }
  .logo {
	position: relative;
	top: 30%;
	left: 0%;
	right: 10%;
	border-inline:  3px solid;
	border-top: 3px solid;
	border-bottom: 3px solid;
	
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	align-items: center;
  }
  
  .copyright {
	padding: 0rem ;
	font-size: large;
	font-weight: 400s;
	color: var(--color-0);
	border-bottom: 2px solid;
	text-align: center;
  }
  #titulo {
	text-align: right;
  }
  
  .footer-nav {
	padding: 0.5rem 0;
	border-top: 2px solid;
  }
  
  .footer-nav .col {
	max-width: 150px;
	writing-mode: horizontal-tb;
	font-size: large;
  }
  
  
  .social-medias a {
	color: var(--color-0);
	width:  2rem;
	height: 2rem;
	border-radius: 50%;
	align-items: left;
  }
  
  .social-medias svg {
	width: 2em;
	height: 2rem;
  }
  
  .flex {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .flex-start {
	align-items: flex-start;
  }
  
  .flex-jc-start {
	justify-content: flex-start;
  }
  
  .flex-around {
	justify-content: space-around;
  }
  
  .flex-column {
	flex-direction: column;
  }
  
  .flex-g-1 {
	gap: 1rem;
  }
  
  .col {
	flex: 1;
  }
  
  .col-list ul li {
	list-style: none;
  }
  .col-list ul li a {
	text-decoration: none;
	color: var(--color-0);
  }
  
  .col-list ul li a:hover,
  .col-list ul li a:focus {
	color: blue;
	text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
	html {
		font-size: 15px;
	}
}

@media screen and (max-width: 465px) {
	html {
		font-size: 14px;
	}
}
#colorDiferente{
	color: white;
}
.parraforaro{
	width: 250px;
	text-align: justify;
}


  
  