*{
  font-family: sans-serif;
}
.fixed-top {
  transition: .5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-logo {
    margin-bottom: 20px;
  }
  
  .navbar-links {
    flex-direction: column;
  }
  
  .navbar-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


#logosalesisha {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

body {
  background: linear-gradient(rgba(5, 7, 12, 0.00),rgba(5, 7, 12, 0.00)),
  url(../img/bglogin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  
}

.contact_form{  
  width: 460px; 
  height: -1vh; 
  margin: -10px ;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #EEEEEE; 
  padding-left: 40px;
  background: rgba(5, 7, 12, 0.00);
  

}

input{
  background-color: #FFFFFF; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #FFFFFF; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  background: rgba(5, 7, 12, 0.50);
  color: #FFFFFF;
  box-shadow: 10px 5px 10px 3px #000000;

}


textarea{
  background-color: #FFFFFF; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #FFFFFF; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
  background: rgba(5, 7, 12, 0.50);
  color: #FFFFFF;
  box-shadow: 10px 5px 10px 3px #000000;

}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;
  text-align: center;   
  text-transform: uppercase;
  background-color: #bfc9ca  ; 
  border-color: #bfc9ca  ; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
  background: rgba(5, 7, 12, 0.00);
  box-shadow: 10px 5px 10px 3px #000000;

}

button p{
  color: #3EFF3E ; 
}


span{
  color: #00ffea; 
}


.aviso{
  font-size: 13px;  
  color: #fbfbfb;  
}


.formulario h1{
  font-size: 37px;  
  text-align: letf; 
  padding-bottom: 10px; 
  color: #FFFFFF;
  padding-left: 1px; 
  padding-right: 1px; 

}


.formulario h3{
  font-size: 15px; 
  padding-bottom: 15px;
  color: #FFFFFF;  
  padding-left: 1px; 
  padding-right: 1px; 

}


form p{
  font-size: 14px; 
  color: #EEEEEE; 
}


::-webkit-input-placeholder {
 color: #FFFFFF;
}


::-webkit-textarea-placeholder {
 color: #FFFFFF;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}