*{
    font-family: sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/bglogin.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.contenedor-formulario {
	width: 90%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	transition: all 0.5s ease-out;
}

.bienvenido {
	display: flex;
	align-items: center;
	text-align: center;
}

.mensaje {
	padding: 1rem;
	font-size: 1.2rem;
}

.mensaje h2 {
	font-size: 1.7rem;
	padding: 1rem 0;
}

.mensaje button {
	font-weight: 400;
	background-color: #4a4aee;
	border-radius: 2rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.2rem;
	margin-top: 2rem;
	transition: all 0.3s ease-in;
	color: #fff;
	height: 3rem;
	width: 8rem;
	text-align: center;
}

a {
	color: white;
}

.mensaje button:hover {
	background-color: #6464f8;
}

.formulario {
	width: 400px;
	padding: 1rem;
	margin: 2rem;
	background-color: rgb(51, 51, 51, 0.602);
	text-align: center;
}

.crear-cuenta {
	padding: 2.7rem 0;
	font-size: 1.7rem;
}

.iconos {
	width: 200px;
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.bordes-iconos {
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	border: solid thin white;
	border-radius: 50%;
	font-size: 1.5rem;
	transition: all 0.3s ease-in;
}

.bordes-iconos:hover {
	background-color: #4a4aee;
	cursor: pointer;
}

.cuenta-gratis {
	padding: 2rem 0;
	font-size: 1.2rem;
}

.formulario input {
	width: 70%;
	display: block;
	margin: auto;
	margin-bottom: 2rem;
	background-color: transparent;
	border: none;
	border-bottom: white thin solid;
	text-align: center;
	outline: none;
	padding: 0.2rem 0;
	font-size: 1rem;
	color: white;
}

.formulario input[type="submit"] {
	width: 60%;
	margin: auto;
	border: solid thin white;
	padding: 0.7rem;
	border-radius: 2rem;
	background-color: white;
	font-weight: 600;
	margin-top: 3rem;
	font-size: 1rem;
	cursor: pointer;
	color: #222;
}

.registro {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	text-decoration: none;
}

.registro.active {
	opacity: 1;
	visibility: visible;
}

.registro2.active {
	opacity: 0;
	visibility: hidden;
}

.logo img {
    position: absolute;
    height: 80px;
    z-index: 1;
    padding-bottom: 10px;
    top: 50px;
	left: 50px;
}




