
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-image: url("https://images.ecestaticos.com/qEHugCYXKZgxVKq226RTzqKGDzo=/77x2:3337x2302/992x700/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fe50%2Fb5f%2Ffef%2Fe50b5ffefccaf7d488261f6f602db590.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      h1 {
        margin-top: 50px;
        color: #00eeff;
      }
      
      #opciones {
        margin-top: 50px;
      }
      
      button {
        font-size: 20px;
        padding: 10px 20px;
        margin: 10px;
      }
      
      #resultado {
        font-size: 24px;
        margin-top: 50px;
        color: #ffffff;
      }
      
      #contador {
        margin-top: -150px;
        color: #ffffff;
        margin-left: -1250px;


      }
      
      #contador p {
        font-size: 50px;
      }
      
      #contador span {
        font-weight: bold;
        margin-left: 10px;
      }
      