.fixed-top {
    transition: .5s;
}
*{
    font-family: sans-serif;
}
/* Navbar */
.fixed-top {
    transition: .5s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-logo {
    margin-bottom: 20px;
  }
  
  .navbar-links {
    flex-direction: column;
  }
  
  .navbar-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


#logosalesisha {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

/* Esto es lo único que he dejado del css original todo lo demás lo he declarado con bootstrap 5 en Sobre_nosotros.html */
/* Esto remarca el texto en color verde al pasar el cursor por encima */
.contactos {
    color: #DA586A;
}

.contactos:hover {
    color: #135eff; 
}
/* Hasta aquí */

footer {
    text-align: justify;
    color: white;
}