body {
    font-family: sans-serif;
}
*{
    font-family: sans-serif;
}
/* Navbar */
.fixed-top {
    transition: .5s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-logo {
    margin-bottom: 20px;
  }
  
  .navbar-links {
    flex-direction: column;
  }
  
  .navbar-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


#logosalesisha {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}
/* saltos de linea */
  br{
    margin-bottom:630px;
}
/* HEADER */
/* Estilo para pantallas pequeñas */
header {
  background-color: #333;
  height: 100vh;
  }
  
  .header-background {
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  }
  
  .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
  
  h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
  }
  
  .btn {
  display: inline-block;
  background-color: #8BC34A;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 1rem;
  }
  .bienvenida{
      color: #FFFFFF;
  }
  @media (min-width: 768px) {
  h1 {
  font-size: 6rem;
  }
  
  .btn {
  font-size: 3rem;
  }
  }




 #carrusel {
    width:780px;
    overflow:hidden;
    height:500px;
    position:relative;
    margin-top:40px;
    margin-bottom:20px;
    align-items: center;
    text-align: center;
    margin:0 auto;
    padding-top: 20px;
}

#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:30%;
    margin-top:-9px;
}

#carrusel .right-arrow {
    position:absolute;
    right:-1px;
    z-index:1;
    top:30%;
    margin-top:-9px;
}

.carrusel {
    width:3950px;
    left:0px;
    position:absolute;
    z-index:0;
}

.carrusel>div {
    float: left;
    height: 350px;
    margin-right: 5px;
    width: 240px;
    text-align:center;
}

.carrusel img {
    cursor:pointer;
}

.product_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #232322;
    font-weight: bold;
}

.product_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.product_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #7d7d7c;
    padding: 20px 0px 0px 0px;
    margin-top: 30px;
}

.bursh_text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #1a1c1b;
    font-weight: 600;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.image_1 {
    width: auto;
    text-align: center;
    margin: 20px 56px;
    padding: 0px 20px;
    height: 200px;
}

.btn_main {
    width: 100%;
    display: flex;
    background-color: #000;
    height: auto;
    padding: 20px 10px 13px 10px;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt ul {
    margin: 0px;
    padding: 0px;
}

.buy_bt li a {
    float: left;
    font-size: 12px;
    color: #252525;
    padding: 5px 10px;
    background-color: #ffffff;
    text-transform: uppercase;
    margin-right: 5px;
    border-radius: 40px;
}

.buy_bt li a:hover {
    background-color: #f5ddb6;
    color: #ffffff;
}

.buy_bt li.active a {
    background-color: #f5ddb6;
    color: black;
}

.price_text {
    font-size: 16px;
    color: #fefefd;
    width: 42%;
    padding-top: 5px;
    text-align: right;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 60px;
}
.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.seemore_bt a:hover {
    color: #ffffff;
    background-color: #f5ddb6;
}
ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.site-description {
    text-align: justify;
}